body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.image-overlay-container {
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.background-image {
  width: 98vw;
  height: 95vh;
  object-fit: cover; /* Ensure the image covers the container */
}

.editor-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10%;
}
.toolbar {
  margin-bottom: 10px;
}
.toolbar button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.toolbar button:hover {
  background-color: #e0e0e0;
}

.editor {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-title {
  font-weight: 800;
  font-size: 32px;
  color: #fff;
  text-shadow: #000;
}
